:root {
  --state-transition-anim-time: 0.25s;
  --vfx-transition-anim-time: 0.5s;
}

body {
  background-color: rgba(200, 205, 200, 0);
  color: rgba(255, 255, 255, 1);
}

button {
  border: none;
  background-color: rgb(10, 100, 50);
  color: rgb(255, 255, 255);
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  text-align: center !important;
  padding: initial;
  border: initial;
  white-space: pre;
}

.button-request-style {
  width: 45%;
  animation: restore-button-request-style var(--state-transition-anim-time) ease-in forwards;
}

.button-request-style:active {
  animation: inverse-button-request-style var(--state-transition-anim-time) ease-in forwards;
}

@keyframes restore-button-request-style {
  0% {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 100, 50);
  }
  100% {
    background-color: rgb(10, 100, 50);
    color: rgb(255, 255, 255);
  }
}

@keyframes inverse-button-request-style {
  100% {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 100, 50);
  }
}

.App {
  text-align: center;
}

.page {
  display: flex;
  float: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  width: 70vw;
  max-width: 1600px;

  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;

  font-family: Arial, serif;
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  color: rgba(0, 0, 0, 1);
  margin: auto;
}

.input-part {
  width: 40%;
}

.output-part {
  width: 60%;
  min-height: 100%;
}

.items-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: center;
  text-align: center;
  width: auto;
  height: auto;
  gap: 10px;
  justify-content: space-evenly;
}

.text-box {
  position: relative;
  float: center;
  width: calc(100% - 5vw);
  height: auto;

  font-family: Arial, serif;
  text-align: left;
  font-weight: 300;
  font-size: 12pt;
  color: rgba(0, 0, 0, 1);
  line-height: 1.5;

  background-color: rgba(160, 245, 200, 1);
  border-color: rgba(255, 255, 255, 1);
  border-width: 0px;
  border-style: none;
  border-radius: 0%;

  padding: 2.5vw;
  margin: 0px;

  animation: load-text-box-anim var(--state-transition-anim-time) ease-in forwards;
}

@keyframes load-text-box-anim {
  0% {
    background-color: rgba(160, 245, 200, 0);
    color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(160, 245, 200, 1);
    color: rgba(0, 0, 0, 1);
  }
}

.heading {
  animation: load-heading-anim var(--state-transition-anim-time) ease-in forwards;
}

@keyframes load-heading-anim {
  0% {
    color: rgb(0, 0, 0, 0);
  }
  100% {
    color: rgb(0, 0, 0, 1);
  }
}

.centered {
  text-align: center;
}

.quarter-width {
  width: 25%;
}

.exit-transition {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  background-color: rgba(50, 50, 50, 1);
  animation: exit-anim var(--vfx-transition-anim-time) ease-in forwards;
  z-index: 9;
}

@keyframes exit-anim {
  0% {
    top: -100vh;
  }
  100% {
    top: 0vh;
  }
}

.enter-transition {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  background-color: rgba(50, 50, 50, 1);
  animation: enter-anim var(--vfx-transition-anim-time) ease-in forwards;
  z-index: 9;
}

@keyframes enter-anim {
  0% {
    top: 0vh;
  }
  99% {
    z-index: 9;
  }
  100% {
    top: 100vh;
    z-index: -1;
  }
}